@font-face {
	font-family: 'Raleway-Light';
	src: url('fonts/Raleway-Light.eot');
	src: local('☺'), url('fonts/Raleway-Light.woff') format('woff'), url('fonts/Raleway-Light.ttf') format('truetype'), url('fonts/Raleway-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway-Regular';
	src: url('fonts/Raleway-Regular.eot');
	src: local('☺'), url('fonts/Raleway-Regular.woff') format('woff'), url('fonts/Raleway-Regular.ttf') format('truetype'), url('fonts/Raleway-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway-Bold';
	src: url('fonts/Raleway-Bold.eot');
	src: local('☺'), url('fonts/Raleway-Bold.woff') format('woff'), url('fonts/Raleway-Bold.ttf') format('truetype'), url('fonts/Raleway-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'LobsterTwo-Bold';
	src: url('fonts/LobsterTwo-Bold.eot');
	src: local('☺'), url('fonts/LobsterTwo-Bold.woff') format('woff'), url('fonts/LobsterTwo-Bold.ttf') format('truetype'), url('fonts/LobsterTwo-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



body {
	margin:0px;
	padding:0px;
	font-family:Raleway-Regular, Tahoma, Geneva, sans-serif;
	font:12px;
	min-width:320px;
}
a {
	color:inherit;
	text-decoration:none;
}
.contenidoPrincipal>header {
	width:100%;
	min-height:90px;
	padding-bottom:12px;
	background:url(../images/bg_cabecera.jpg) no-repeat 50% 0px, url(../images/bg_cabecera_continuo.png) repeat-x 0px bottom;
	position:relative;
	z-index:5;
}
.contenidoPrincipal>header>.menuPrincipal {
	max-width:960px;
	margin:0px auto 0px auto;
	position:relative;
	z-index:2;
}
.contenidoPrincipal>header>.menuPrincipal>a.logo {
	float:left;
	margin-left:2%;
}
.contenidoPrincipal>header>.menuPrincipal>a.logo h1 {
	text-indent:-9999px;
	width:155px;
	height:86px;
	margin:0px;
	padding:0px;
	font-size:100px;
	background-image:url(../images/Kunfood_tu_pedido_al_toque_logo.png);
}
.contenidoPrincipal>header>.menuPrincipal>nav {
	position:absolute;
	left:210px;
	right:0px;
}
.contenidoPrincipal>header>.menuPrincipal .botonMostrar {
	display:none;
}
.contenidoPrincipal>header>.menuPrincipal>nav>ul {
	padding:0px;
	margin:0px;
	font-size:0px;
}
.contenidoPrincipal>header>.menuPrincipal>nav>ul li {
	list-style:none;
	padding:0px;
	margin:0px;
	display:inline-block;
	background-image:url(../images/menu_division.png);
	background-repeat:no-repeat;
	background-position:0px center;
	height:90px;
	width:14%;
	min-width:80px;
	padding:0px 1% 0px 1%;
	vertical-align:text-top;
}
.contenidoPrincipal>header>.menuPrincipal>nav>ul li.registro {
	width:18%;
}
.contenidoPrincipal>header>.menuPrincipal>nav>ul li.registro table td {	
	font-size:13px;
}
.contenidoPrincipal>header>.menuPrincipal>nav>ul li.registro table td a {
	display:block;
	line-height:2em;
	text-align:center;
}
.contenidoPrincipal>header>.menuPrincipal>nav>ul li.registro table td a:hover {
	color:#f778ae
}
.contenidoPrincipal>header>.menuPrincipal>nav>ul a:hover li table td {	
	color:#f778ae;
}
.contenidoPrincipal>header>.menuPrincipal>nav>ul li table {
	width:100%;
	height:100%;
	border-spacing:0px;
	border-collapse:collapse;
}
.contenidoPrincipal>header>.menuPrincipal>nav>ul li table td {
	vertical-align:middle;
	text-align:center;
	color:#ffffff;
	font-size:14px;
}
.registraTuRestaurante {
	clear:both;
	position:relative;
	width:960px;
	margin:0px auto 0px auto;
	z-index:1;
}
.registraTuRestaurante a {
	display:block;
	position:relative;
	right:0px;
	top:4px;
	padding:10px 10px 10px 50px;
	background-image: url(../images/icon_registra_Tu_Restaurant.png), url(../images/bg_cuadriculaVerde.png);
	background-repeat:no-repeat, repeat;
	background-position: 10px center, 0px 0px;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	color:#ffffff;
	font-size:17px;
	font-family:Raleway-Bold, Tahoma, Geneva, sans-serif;
	font-weight:bold;
	float:right;
}
.banners {
	background-color:#ffffff;
	background-image:url(../images/banners/banner1.jpg);
	background-repeat:no-repeat;
	background-position:50% 50%;
	height:550px;
	position:relative;
	top:-35px;
	width:960px;
	margin:0px auto 0px auto;
	z-index:1;
}
.banners .formularioBusqueda {
	position:absolute;
	top:180px;
	width:100%;
	height:140px;
	z-index:2;
}
.banners .formularioBusqueda .titulo {
	font-size:40px;
	color:#ffffff;
	font-family:Raleway-Bold, Tahoma, Geneva, sans-serif;
	font-weight:bold;
	text-align:center;
	margin:0px auto 0px auto;
	text-shadow:-1px 1px 4px #000000, -1px 1px 2px #000000;
}
.banners .formularioBusqueda form {
	margin:35px 6% 0px 6%;
	min-height:36px;
	background-color:rgba(0,0,0,0.5);
	padding:7px 8px 7px 8px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	position:relative;
}
#distrito {
	display:none;
}
.banners .formularioBusqueda form input[type=text] {
	color:#221f1d;
	font-size:20px;
	margin:0px 3px 0px 7px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:none;
	background-color:#ffffff;
	background-image:url(../images/bg_input_buscar_restaurantes.gif);
	background-repeat:repeat-x;
	background-position:0px 0px;
	outline:none;
	padding:6px;
	position:absolute;
	top:7px;
	left:0px;
	right:50%;
}
.banners .formularioBusqueda form input[type=text]:focus {
	box-shadow:0px 0px 15px #e4337e, 0px 0px 15px #e4337e;
}
.banners .formularioBusqueda form .combobox:focus {
	outline:none;
}
.banners .formularioBusqueda form .combobox {
	outline:none;
	position:absolute;
	top:7px;
	left:50%;
	margin-left:4px;
	right:165px;
	outline:none;
	font-size:20px;
	cursor:default;
}
.banners .formularioBusqueda form .combobox .seleccionado {
	color:#221f1d;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:none;
	background-color:#ffffff;
	background-image:url(../images/bg_input_buscar_restaurantes.gif), url(../images/boton_select.gif);
	background-repeat:repeat-x, no-repeat;
	background-position:0px 0px, right center;
	padding:6px;
	height:24px;
	display:block;
}
.banners .formularioBusqueda form .combobox .onfocus {
	box-shadow:0px 0px 15px #e4337e, 0px 0px 15px #e4337e;
	-webkit-border-radius: 10px;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius: 10px;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	border-radius: 10px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.banners .formularioBusqueda form .combobox:focus .onchange {
	box-shadow:0px 0px 15px #e4337e, 0px 0px 15px #e4337e;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.banners .formularioBusqueda form .combobox .opciones {
	position:absolute;
	top:30px;
	left:0px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:100%;
	max-height:140px;
	overflow-x:hidden;
	overflow-y:scroll;
	background-color:#ffffff;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	display:none;
}
.banners .formularioBusqueda form .combobox .opciones li{
	list-style:none;
	margin:0px;
	padding:6px;
	cursor:pointer;
}
.banners .formularioBusqueda form .combobox .opciones li:hover {
	color:#4f8100;
}
.banners .formularioBusqueda form input[type=submit] {
	background:none;
	background-image:url(../images/submit_buscar.png);
	border:none;
	width:153px;
	height:36px;
	position:absolute;
	top:8px;
	right:7px;
	color:#ffffff;
	font-size:20px;
	text-align:center;
	margin:0px;
	padding:0px 0px 0px 28px;
	cursor:pointer;
}
.banners .descargaApp {
	width:240px;
	height:94px;
	padding:14px 0px 0px 50px;
	background-image:url(../images/bg_descarga_la_aplicacion.png);
	color:#ffffff;
	font-family:Raleway-Regular, Tahoma, Geneva, sans-serif;
	font-size:18px;
	position:absolute;
	left:-27px;
	bottom:-25px;
	z-index:1;
}
.noticias {
	position:relative;
	width:100%;
	background:url(../images/bg_textura_noticias_kunfood.png);
	top:76px;
	z-index:3;
}
.noticias .dientes {
	position:absolute;
	width:100%;
	background:url(../images/borde_dentado.png);
	top:-133px;
	height:133px;
	z-index:1;
}
.noticias>.contenido {
	width:920px;
	margin:0px auto 0px auto;
	padding:0px 20px 20px 20px;
	position:relative;
	z-index:3;
	top:-70px;
}
.contenidoPrincipal .noticias h2 {
	padding:0px 0px 0px 65px;
	margin:0px 0px 0px 0px;
	font-size:46px;
	color:#e4337e;
	background-image:url(../images/icon_noticias_kunfood.png);
	background-position:0px center;
	background-repeat:no-repeat;
	font-weight:normal;
	position:relative;
	top:-20px;
}
.contenidoPrincipal .noticias h2 strong {
	color:#363636;
	font-weight:normal;
	font-size:52px;
}
.contenidoPrincipal .noticias h3 {
	color:#898989;
	padding:0px 0px 30px 0px;
	margin:-20px 0px 0px 0px;
	font-weight:normal;
	font-size:22px;
	background-image:url(../images/division_noticias.png);
	background-position: 0px bottom;
	background-repeat:repeat-x;
}
.contenidoPrincipal .noticias .listadoNoticias {
	width:74.5%;
	float:left;
	margin-top:20px;
}
.contenidoPrincipal .noticias .listadoNoticias .noticia {
	width:32%;
	float:left;
	overflow:hidden;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin-right:2%;
	margin-top:10px;
	background-color:#ffffff;
}
.contenidoPrincipal .noticias .listadoNoticias .noticia h1 {
	font-size:20px;
	color:#111111;
	font-weight:normal;
	margin:10px;
}
.contenidoPrincipal .noticias .listadoNoticias .noticia .contenido {
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666666;
	margin:10px;
}
.contenidoPrincipal .noticias .listadoNoticias .noticia .detalles {
	padding:0px 10px 10px 10px;
	background-image:url(../images/bg_bordeNoticia.gif);
	background-repeat:repeat-x;
	background-position:0px bottom;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#898989;
}
.contenidoPrincipal .noticias .listadoNoticias .noticia .detalles .fecha {
	color:#464646;
	text-transform:uppercase;
}
.contenidoPrincipal .noticias .listadoNoticias .noticia .detalles .fuente {
	color:#e4337e;
}
.contenidoPrincipal .noticias .listadoNoticias .noticia .leerMas {
	color:#85bd00;
	text-decoration:underline;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	margin:11px;
	display:block;
}
.contenidoPrincipal .noticias .listadoNoticias .noticia footer {
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color:#e4337e;
	padding:10px;
	font-size:0px;
}
.contenidoPrincipal .noticias .listadoNoticias .noticia footer>div{
	display:inline-block;
	width:15px;
	height:15px;
	background-image:url(../images/estrella_vacia.png);
	background-repeat:no-repeat;
	padding:0px 2px 0px 2px;
}
.contenidoPrincipal .noticias .listadoNoticias .noticia footer>div.completa {
	background-image:url(../images/estrella_completa.png);
}
.contenidoPrincipal .noticias .listadoNoticias .noticia:nth-child(3n+0) {
	margin-right:0px;
}
.contenidoPrincipal .noticias .listadoNoticias .noticia .imagen {
	width:100%;
}
.contenidoPrincipal .noticias .listadoNoticias .noticia .imagen img {
	width:100%;
	height:auto;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border:1px solid #ede4d5;
	border-bottom:none;
}
.contenidoPrincipal .noticias .sociales {
	width:24%;
	float:right;
	font-family:Raleway-Light, Tahoma, Geneva, sans-serif;
}
.contenidoPrincipal .noticias .sociales input[type=text]{
	background-color:#e2e2e2;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:1px solid #a9a9a9;
	padding:11px;
	display:block;
	margin:30px 10px 20px 0px;
	font-size:20px;
	color:#898989;
	font-family:Raleway-Regular, Tahoma, Geneva, sans-serif;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	width:100%;
	outline:none;
}
.contenidoPrincipal .noticias .sociales .mensaje {
	display:block;
	color:#464646;
	font-size:24px;
}
.contenidoPrincipal .noticias .sociales a {
	padding:20px 20px 20px 60px;
	background-position:2px 50%;
	background-repeat:no-repeat;
	color:#ffffff;
	font-size:20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #b5b5b5;
	margin:10px 0px 10px 0px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	width:100%;
	display:block;
}
.contenidoPrincipal .noticias .sociales .linkTwitter {
	background-image:url(../images/icon_twitter.gif);
	background-color:#0fbbf6;
}
.contenidoPrincipal .noticias .sociales .linkFacebook {
	background-image:url(../images/icon_facebook.gif);
	background-color:#3b5998;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-bottom:0px;
}
.contenidoPrincipal .noticias .sociales input[type=text]:focus {	
	box-shadow:0px 0px 15px #e4337e;
}
.contenidoPrincipal .noticias .sociales .socialPluginFacebook {
	background-color:#ffffff;
}
.contenidoPrincipal .noticias .sociales .socialPluginFacebook>div{
	padding:15px 10px 15px 10px;
}
.contenidoPrincipal .noticias .sociales .socialPluginFacebook>div.plugin{
	padding:0px;
}
.contenidoPrincipal .descargaAplicacion {
	clear:both;
	position:relative;
	background:url(../images/bg_bordeSuperiorFooter.png) repeat-x left top;
	margin-top: 70px;
	z-index: 3;
}
.contenidoPrincipal .descargaAplicacion>.fondoMadera { 
	background:url(../images/bg_madera.jpg) no-repeat 50% 0px;
	padding-bottom:50px;
	position:relative;
	top:14px;
	background-color:#0c0807;
}
.contenidoPrincipal .descargaAplicacion .contenido  { 
	width:960px;
	margin:0px auto 0px auto;
	position:relative;
}
.contenidoPrincipal .descargaAplicacion .contenido hgroup {
	width:45%;
	padding:9px 8% 0px 8%;
	text-align:center;
}
.contenidoPrincipal .descargaAplicacion .contenido hgroup h1 {
	font-size:34px;
	color:#ffffff;
	font-weight:bold; 
	font-family:LobsterTwo-Bold, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.contenidoPrincipal .descargaAplicacion .contenido .botonesDescarga {
	width:45%;
	padding:9px 8% 0px 8%;
	text-align:center;
}
.contenidoPrincipal .descargaAplicacion .contenido .botonesDescarga a {
	display:inline-block;
	margin:10px;
	width:113px;
	height:112px;
	background-repeat:no-repeat;
	background-size:cover;
}
.contenidoPrincipal .descargaAplicacion .contenido .botonesDescarga a:hover {
	background-position:0px -112px;	
}
.contenidoPrincipal .descargaAplicacion .contenido .botonesDescarga a.mac {
	background-image:url(../images/icon_mac_descarga-la-aplicacion.png);
}
.contenidoPrincipal .descargaAplicacion .contenido .botonesDescarga a.android {
	background-image:url(../images/icon_android_descarga-la-aplicacion.png);
}
.contenidoPrincipal .descargaAplicacion .imagen { 
	position:absolute;
	width:308px;
	height:560px;
	right:20px;
	top:-85px;
	cursor:pointer;
}
.contenidoPrincipal .descargaAplicacion .contenido .imagen img {
	width:100%; 
}
.contenidoPrincipal .descargaAplicacion .contenido hgroup h2 {
	font-size:18px;
	color:#ffae00;
	font-weight:normal;
}
.contenidoPrincipal .descargaAplicacion .contenido hgroup h2 a {
	font-size:14px;
	color:#85bd00;
	text-decoration:underline;
}
.contenidoPrincipal .descargaAplicacion .contenido p { 
	font-size:15px;
	color:#ffffff;
	width:45%;
	padding:9px 8% 0px 8%;
	text-align:left;
}
.contenidoPrincipal>footer {
	width:100%;
	height:123px;
	background:url(../images/bg_footer.jpg) repeat-x;
	margin-top:14px;
}
.contenidoPrincipal>footer>div {
	width:960px;
	margin:0px auto 0px auto;
	position:relative;
}
.contenidoPrincipal>footer .logoFooter {
	width:106px;
	height:45px;
	background:url(../images/logo_kunfood_pie.png);
	position:absolute;
	top: 30px;
	left: 20px;
}
.contenidoPrincipal>footer nav{
	position:absolute;
	text-align:right;
	right:20px;
	top:50px;
	left:150px;
}
.contenidoPrincipal>footer nav a {
	padding:10px;
	color:#ffffff;
	font-size: 12px;
	font-family:Tahoma, Geneva, sans-serif;
}
.layerVideo {
	background-color:rgba(0,0,0,0.5);
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	display:none;
}
.layerVideo .btnCerrar {
	width:560px;
	height:18px;
	background-color:#FFF;
	position:absolute;
	top:50%;
	left:50%;
	margin:-177px 0px 0px -280px;
	text-align:center;
	cursor:pointer;
}
.layerVideo .player {
	position:absolute;
	width:560px;
	height:315px;
	margin:-157px 0px 0px -280px;
	top:50%;
	left:50%;
}
@media all and (max-width:960px), all and (max-device-width:960px) {
	
.contenidoPrincipal>footer>div {
	width:100%;
}
.contenidoPrincipal .descargaAplicacion .contenido  { 
	width:100%;
}
.contenidoPrincipal .noticias .sociales .linkFacebook {
	background-image:url(../images/icon_facebook.gif);
	background-color:#3b5998;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-bottom:10px;
}
.contenidoPrincipal .noticias .sociales .socialPluginFacebook {
	display:none;
}
.contenidoPrincipal .noticias .sociales a {
	font-size:18px;
}
.noticias .contenido {
	width:auto;
}
.contenidoPrincipal>header {
	background:url(../images/bg_cabecera.jpg) no-repeat -220px 0px, url(../images/bg_cabecera_continuo.png) repeat-x 0px bottom;
}
.contenidoPrincipal .banners {
	height:490px;
	background-size:cover;
	width:100%;
}
.contenidoPrincipal .banners .descargaApp {
	left:0px;
}
.registraTuRestaurante {
	width:100%;
}
}
@media all and (max-width:810px), all and (max-device-width:810px) {
.contenidoPrincipal .noticias .sociales a {
	font-size:16px;
}
.contenidoPrincipal>header>.menuPrincipal>nav {
	left:180px
}
	
}
@media all and (max-width:770px), all and (max-device-width:770px) {
.banners .formularioBusqueda {
	top:130px;
}
.banners .formularioBusqueda form {
	min-height:79px;
}
.banners .formularioBusqueda form input[type=text] {
	margin:0px 7px 0px 7px;
	right:0px;
}
.banners .formularioBusqueda form .combobox {
	top:50px;
	left:0px;
	margin-left:7px;
	right:165px;
}
.banners .formularioBusqueda form input[type=submit] {
	top:51px;
}
.contenidoPrincipal .noticias .sociales a {
	font-size:24px;
	width:49%;
	margin-right:1%;
	display:inline-block;
}
.contenidoPrincipal .noticias .sociales .linkFacebook {
	margin-right:0px;
}
.contenidoPrincipal .noticias .sociales .mensaje {
	display:none;
}
.contenidoPrincipal .noticias h3 {
	font-size:20px;
}
.contenidoPrincipal .noticias .listadoNoticias .noticia {
	width:49%;
	float:left;
	overflow:hidden;
	margin-right:2%;
}
.contenidoPrincipal .noticias .listadoNoticias .noticia:nth-child(3n+0) {
	margin-right:2%;
}
.contenidoPrincipal .noticias .listadoNoticias .noticia:nth-child(2n+0) {
	margin-right:0px;
}
.contenidoPrincipal .noticias .listadoNoticias {
	width:auto;
	float:none;
	margin:0px;
	margin-top:10px;
}
.contenidoPrincipal .noticias .sociales input[type=text]{
	margin:0px 0px 20px 0px;
	width:280px;
}
.contenidoPrincipal .noticias .sociales {
	width:auto;
	float:none;
	clear:both;
	margin:0px;
	padding-top:30px;
}
.contenidoPrincipal .noticias h2 {
	font-size:38px;
}
.contenidoPrincipal .noticias h2 strong {
	font-size:43px;
}
.banners .descargaApp {
	width:58px;
	height:53px;
	background-image:url(../images/bg_descarga_la_aplicacion_480.png);
	text-indent:-9999px;
	padding:0px;
	bottom:40px;
}
.contenidoPrincipal>header {
	height:auto;
	background:url(../images/bg_cabecera.jpg) no-repeat -220px 0px, url(../images/bg_cabecera_continuo.png) repeat-x 0px bottom;
}
.contenidoPrincipal>header>.menuPrincipal .botonMostrar {
	display:block;
	position:absolute;
	top:25px;
	right:25px;
	width:37px;
	height:36px;
	background:url(../images/boton_mostrar_menu.png) no-repeat;
	cursor:pointer;
}

.contenidoPrincipal>header>.menuPrincipal>a.logo {
	margin-left:30px;
}
.contenidoPrincipal>header>.menuPrincipal>nav {
	position:static;
	width:100%;
	clear:both;
	margin-bottom: -4px;
	display:none;
}
.contenidoPrincipal>header>.menuPrincipal>nav.visible {
	display:block;
}
.contenidoPrincipal>header>.menuPrincipal>nav>ul {
	padding:0px;
	margin:0px;
	font-size:0px;
	background-image:url(../images/bg_menu_vertical.jpg);
}
.contenidoPrincipal>header>.menuPrincipal>nav>ul li {
	list-style:none;
	padding:0px;
	margin:0px;
	display:block;
	background-image:url(../images/menu_division_horizontal.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	height:auto;
	width:auto;
	min-width:auto;
	padding:10px 30px 10px 30px;
}
.contenidoPrincipal>header>.menuPrincipal>nav>ul li.registro {
	background-image:none;
	width:auto;
	padding:0px;
}
.contenidoPrincipal>header>.menuPrincipal>nav>ul li.registro table {
	width:100%;
}
.contenidoPrincipal>header>.menuPrincipal>nav>ul li.registro table td {	
	font-size:14px;
	text-align:left;
}
.contenidoPrincipal>header>.menuPrincipal>nav>ul li.registro table td a {
	display:block;
	background-image:url(../images/menu_division_horizontal.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	height:auto;
	width:auto;
	min-width:auto;
	height:18px;
	padding:10px 30px 10px 30px;
	text-align:left;
	line-height:normal;
}
.contenidoPrincipal>header>.menuPrincipal>nav>ul li table {
	width:auto;
	height:auto;
}
.contenidoPrincipal>header>.menuPrincipal>nav>ul li table td {
	text-align:left;
}
.registraTuRestaurante a {
	padding:0px;
	width:50px;
	text-indent:-9999px;
	height:40px;
	margin-right:25px;
}
}

@media all and (max-width:720px), all and (max-device-width:720px) {	
.contenidoPrincipal footer .logoFooter{
	display:none;
}
.contenidoPrincipal footer nav{
	left:20px;
	text-align:center;
}
.banners .formularioBusqueda form {
	margin-top:10px;
}
.contenidoPrincipal .descargaAplicacion .imagen { 
	display:none;
}
.contenidoPrincipal .descargaAplicacion .contenido hgroup {
	width:90%;
	padding:9px 5% 0px 5%;
	text-align:center;
}
.contenidoPrincipal .descargaAplicacion .contenido .botonesDescarga {
	width:90%;
	padding:9px 5% 0px 5%;
	text-align:center;
}
.contenidoPrincipal .descargaAplicacion .contenido p { 
	width:90%;
	padding:9px 5% 0px 5%;
	text-align:left;
}
.contenidoPrincipal .descargaAplicacion {
	margin-top:0px;
}
}
@media all and (max-width:530px), all and (max-device-width:530px) {	
.banners .formularioBusqueda form .combobox {
	right:65px;
}
.banners .formularioBusqueda form input[type=submit] {
	background-image:url(../images/submit_buscar_icon.png);
	width:53px;
	overflow:hidden;
	text-indent:200px;
}
.contenidoPrincipal .noticias .sociales a {
	font-size:24px;
	width:100%;
	display:block;
}
}
@media all and (max-width:450px), all and (max-device-width:450px) {
.contenidoPrincipal .descargaAplicacion .contenido .imagen {
	display:none;
}
.contenidoPrincipal .descargaAplicacion .contenido hgroup {	
	width:84%;
	padding:9px 8% 0px 8%;
	text-align:center;
}
.contenidoPrincipal .descargaAplicacion .contenido hgroup h1 {
	text-align:center;
}
.contenidoPrincipal .descargaAplicacion .contenido hgroup h2 {
	display:block;
}
.contenidoPrincipal .noticias h3 {
	display:none;
}
.contenidoPrincipal .noticias .listadoNoticias .noticia {
	width:100%;
	float:none;
	overflow:hidden;
}
}