{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}

<div class="col-md-6">
                <div id="pad-wrapper" class="users-list" align ="center">
                    <h3>MIS COMPRAS</h3>
                    <table class="table table-hover" id="orders">
                        <thead>
                        <tr>
                            <th class="col-md-4 sortable">
                                Descripcion
                            </th>
                            <th class="col-md-4 sortable">
                                Precio Unitario
                            </th>
                            <th class="col-md-4 sortable">
                                Meses
                            </th>
                            <th class="col-md-4 sortable">
                                Precio
                            </th>
                            <th class="col-md-4 sortable">
                                Seleccionar
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in my_orders %}
                            <tr id="{{ order.id }}" class="first">
                                <td>
                                    {{ order.type_point.type.des }}
                                </td>
                                <td>
                                    {{ order.type_point.price }}
                                </td>
                                <td>
                                    {{ order.init_date.month }} - {{ order.end_date.month }}
                                </td>
                                <td>
                                    {{ order.price }}
                                </td>
                                <td>

                                    <form id="delete_row" action="/buyings/" method="POST">
                                        <input id="row" name="row" type="hidden" value ="{{ order.id }}">
                                        <input type="submit" class="btn btn-primary" value="Eliminar">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <p><a  href="/order_service/" class="btn btn-primary btn-lg" role="button">Aceptar &raquo;</a></p>
</div>

<script>
              function deleteRow(tableID, rowID) {
               try {
               var table = document.getElementById(tableID);
               var rowCount = table.rows.length;
               for(var i=0; i<rowCount; i++) {
                    var row = table.rows[i];
                    if(row.id == rowID) {
                        table.deleteRow(i);
                        return;
                    }
               }
               }catch(e) {
                    alert(e);
               }
          }



</script>

{% endblock%}