{% extends "base.html" %}

{% load staticfiles %}
{% load url from future %}

{% block content %}
    <div id="slider">
        <div class="formularioBusqueda">
            <div id="content-wrapper">
                <div id="content">
                    <div id="area-selection">
                        <div id="area-selection-fields">
                            <form id="search_form" action="/busqueda/" method="post">
                                <p> ¿Tipo de anuncio preferido?</p>

                                <p>¿Donde estas?</p>
                                  <p> </p>
                               <select type="text" placeholder="Tipo de anuncio" name="type" id="type"
                                   tabindex="1" class="ui-autocomplete-input" autocomplete="off" value="{{type.name|default_if_none:''}}">
                                    {% for type in type_objects %}
                                        <option value="{{ type.name }}">{{ type.name }}</option>
                                    {% endfor %}
                                </select>

                                <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                <input type="text" placeholder="Lugar" class="TxtLugar" name="city" id="city"
                                       tabindex="2" autocomplete="off" value="{{ city|default_if_none:'' }}">
                                <input type="hidden" id="hid" value="1">
                                <input type="submit" value="Buscar">

                                <p id="select-from-map" onclick="cambiarTextMapa()">
                                    <span class="open-map">Seleccionar del mapa</span>
                                    <span class="open-map hide">Ocultar mapa</span>
                                </p>
                                <span id="AlertaBusqueda">Por favor, ingrese datos de busqueda.</span>
                            </form>
                        </div>
                        {# TODO insert google maps #}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-7">
            <div id="map_canvas" class="map"></div>
        </div>
        <div class="col-xs-5">
            <h1>Empresa {{ company.commercial_name }}</h1>
		    <p>Direccion: {{ company.address }}</p>
		    <p>Telefono:{{ company.phone }}</p>
		    <p>	Celular: {{ features.state }}</p>
		    <p>	Tarifa Mensual:{{ features.price }}</p>


            <p><a href="/check_availability/{{ features.id }}" >Ver Disponibilidad</a></p>
        </div>
    </div>


    <div class="company_box" style="display: none">
        <a class="wishlist_icon icon_wish modalbox" href="#ModalWishList"
           onclick="load_wish('',this.getAttribute('data-value'), this.getAttribute('data-dish'), this.getAttribute('data-rest'), '', this.getAttribute('data-comment'), this.getAttribute('data-selected'), '2')"
           id="dish280" title="Agrega a tu wish list" data-value="" data-dish="" data-rest="280" data-selected=""
           data-comment=" ">
        </a>
    </div>
{% endblock %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'app/tmp_css/principal.css' %}?2634655235"/>
    <link rel="stylesheet" href="{% static 'app/tmp_css/map.css' %}?2634655235"/>
    <style>
        body {
            background-image: url(http://kunfood.com/images/bg.jpg) !important;
        }

        #slider {
            height: 90px;
            top: 0;
        }

        #slider .formularioBusqueda {
            top: 0;
        }

    </style>


{% endblock %}
